
/* styles.css or your preferred CSS file */
.custom-scrollbar {
    max-height: 500px; /* Set your desired max height */
    overflow-y: auto;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ccc transparent; /* Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Set the color of the scrollbar thumb */
  }
  